
// Variables
//------------------------------------------------------------------------------

// Color definitions
$color-bg: #eae2d7 !default;
$color-red: #e61052 !default;
$color-brown: #d9cbb6 !default;
$color-white: #fff !default;
$color-link: #97866f !default;
$color-titledark: #2a1f0f !default;

// Container definitions
$container-width: 960px !default;
$container-padding: 20px !default;

//Content definitions
$content-width: 640px !default;

//Sidebar definitions
$sidebar-width: 300px !default;

// Z-indexes
$zindex-base: 1 !default;

// Font definitions
$font-arial: "Arial", "Helvetica Neue", Helvetica, serif !default;
$font-size: 1.6em !default;
$font-line-height: 1.4 !default;

